<!DOCTYPE html>
<html lang="en">

@model Authentication.Models.RegisterViewModel

<body class="sign-in sign-up">
    <header class="not-signed-in d-flex flex-row justify-content-between fixed-top">
        <img src="~/images/logo.png"
             alt="logo">
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="register">
                        <h1 class="text-lg-center">Join Up</h1>
                        <form method="post" action="@Url.Action("Register", "Account")" novalidate>
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <fieldset class="auth-info">
                                <div class="form-label-group-wrapper">
                                    <div class="form-label-group">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required", aria_label = "email", aria_describedby = "name", placeholder = "Name" })
                                        @Html.LabelFor(m => m.Name)
                                    </div>
                                    <div class="invalid-field">
                                        @Html.ValidationMessageFor(x => x.Name)
                                    </div>
                                </div>

                                <div class="form-label-group-wrapper">
                                    <div class="form-label-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", aria_label = "email", aria_describedby = "email", placeholder = "Email", type = "email" })
                                        @Html.LabelFor(m => m.Email)
                                    </div>
                                    <div class="invalid-field">
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>
                                </div>

                                <div class="form-label-group-wrapper">
                                    <div class="form-label-group">
                                        @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.DateOfBirth)
                                    </div>
                                    <div class="invalid-field">
                                        @Html.ValidationMessageFor(x => x.DateOfBirth)
                                    </div>
                                </div>

                                <div class="form-label-group-wrapper">
                                    <div class="form-label-group">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", required = "required", aria_label = "password", aria_describedby = "password", placeholder = "password", type = "password" })
                                        @Html.LabelFor(m => m.Password)
                                    </div>
                                    <div class="invalid-field">
                                        @Html.ValidationMessageFor(x => x.Password)
                                    </div>
                                </div>

                                <div class="form-label-group-wrapper">
                                    <div class="form-label-group">
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required", aria_label = "confirmPassword", aria_describedby = "confirmPassword", placeholder = "confirmPassword", type = "password" })
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                    </div>
                                    <div class="invalid-field">
                                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                    </div>
                                </div>

                                <div class="form-label-group-wrapper">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="privacyPolicy" id="privacyPolicy" value="privacyPolicy" required>
                                    </div>
                                </div>


                                <button class="bttn bttn-primary bttn-submit" type="submit">Create Account</button>
                            </fieldset>
                        </form>
                        <p class="text-center">Already have an account<a href="@Url.Action("Login", "Account")">Sign In</a></p>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>

</html>

@section Scripts {
    <script>
        $('document').ready(function () {
            $('#DateOfBirth').datepicker({ dateFormat: 'dd/mm/yy' });
        })
    </script>
}




